.site {
	width: 100%;
	height: 100%;
	position: fixed;
	padding: 0;
	margin: 0;
	overflow: auto;
}
.container {
	width: 70vw;
	height: 80vh;
	overflow: hidden;
	outline: 1px solid gray;
	float: left;
	z-index: 0;
}

.imageBox {
	width: 70vw;
	height: 80vh;
	overflow: hidden;
	position: absolute;
}

.image {
	width: 100%;
	height: 100%;
	transition: transform 0s;
	transform-origin: 0 0;
	position: relative;
	z-index: 1;
}


.dot {
	width: fit-content;
	transition: transform 0s;
	transform-origin: 0 0;
	position: relative;
	z-index: 2;
	user-select: none;
}

.tooltiptext {
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	white-space: nowrap;
	position: absolute;
	bottom: 100%;
	left: 50%;
	user-select: none;
	pointer-events: none;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

select {
	float: right;
}

.selection {
	padding-left: 20px;
	float: left;
	z-index: 1;
}

.mapDropdown {
	position: relative;
	overflow: visible !important;
	float: up;
}

.itemDropdown {
	position: relative;
	overflow: visible !important;
	float: up;
	padding-top: 20px;
}

.readyButton {
	position: relative;
	padding-top: 20px;
	float: up;
}

form {
	overflow: hidden;
}
